[Desktop Entry]
Name=DNF App Center
Name[de]=DNF-Anwendungszentrum
Name[es]=Centro de Aplicaciones DNF
Name[fr]=Centre d’applications DNF
Name[it]=Centro applicazioni DNF
Name[pt_BR]=Central de Aplicativos DNF
Name[ru]=Центр приложений DNF
Name[ja]=DNFアプリセンター
Name[ko]=DNF 앱 센터
Name[zh_CN]=DNF 应用中心
Name[zh_TW]=DNF 應用程式中心
Comment=Browse and install Fedora applications with libdnf5 and AppStream
Comment[de]=Fedora-Anwendungen mit libdnf5 und AppStream durchsuchen und installieren
Comment[es]=Buscar e instalar aplicaciones de Fedora con libdnf5 y AppStream
Comment[fr]=Parcourir et installer des applications Fedora avec libdnf5 et AppStream
Comment[it]=Sfoglia e installa applicazioni Fedora con libdnf5 e AppStream
Comment[pt_BR]=Navegue e instale aplicativos Fedora com libdnf5 e AppStream
Comment[ru]=Просматривайте и устанавливайте приложения Fedora с помощью libdnf5 и AppStream
Comment[ja]=libdnf5 と AppStream を使って Fedora アプリケーションを閲覧・インストールします
Comment[ko]=libdnf5와 AppStream으로 Fedora 애플리케이션을 찾아보고 설치합니다
Comment[zh_CN]=使用 libdnf5 和 AppStream 浏览并安装 Fedora 应用程序
Comment[zh_TW]=使用 libdnf5 與 AppStream 瀏覽並安裝 Fedora 應用程式
Exec=dnf-app-center %F
Icon=org.dnf.AppCenter
Terminal=false
Type=Application
MimeType=application/x-rpm;application/x-redhat-package-manager;
Categories=System;PackageManager;GTK;
StartupNotify=true
